.page-header {
  height: 75px;
  width: 100%;
  background: #3a3b44;
}
.page-header .page-top {
  width: 1000px;
  height: 75px;
  margin: 0 auto;
  display: flex;
}
.page-header .page-top .page-top-logo {
  width: 124px;
  height: 30px;
  margin-top: 23px;
}
.page-header .page-top .page-top-left-item {
  font-size: 15px;
  color: #ffffff;
  line-height: 75px;
  margin-left: 60px;
}
.page-header .page-top .page-top-right .right-expert,
.page-header .page-top .page-top-right .right-employer {
  display: inline-block;
  width: 98px;
  height: 34px;
  border: 1px solid #58a673;
  border-radius: 3px;
  margin: 20px 0 0 205px;
  font-size: 15px;
  color: #58a673;
  text-align: center;
  line-height: 34px;
}
.page-header .page-top .page-top-right .right-employer {
  background-color: #58a673;
  margin-left: 20px;
  color: #ffffff;
}
.page-body .banner-section {
  height: 460px;
  width: 100%;
  background: url(../image/index-banner-bg.png);
}
.page-body .banner-section .banner-content {
  display: flex;
  flex-direction: column;
  height: 460px;
}
.page-body .banner-section .banner-description {
  margin: 57px auto 35px auto;
  font-size: 18px;
  color: #b1b1b5;
  line-height: 18px;
}
.page-body .banner-section .banner-title {
  margin: 0 auto;
  font-size: 32px;
  color: #ffffff;
  line-height: 32px;
}
.page-body .banner-section .banner-summary {
  margin: 47px auto 45px auto;
  font-size: 15px;
  text-align: center;
  color: #58a673;
  line-height: 30px;
}
.page-body .banner-section .banner-friends {
  position: relative;
}
.page-body .banner-section .banner-friends-item {
  display: inline-block;
  height: 34px;
  width: 160px;
  background-color: #3d3e48;
  position: absolute;
  top: -10px;
  left: 425px;
  color: #929298;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
}
.page-body .banner-section .banner-partner-image {
  width: 1000px;
  margin-top: 30px;
}
.page-body .personnel-section {
  height: 470px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
.page-body .personnel-section .container-1000 .personnel-description {
  text-align: center;
  font-size: 32px;
  color: #404c5f;
  margin-top: 74px;
}
.page-body .personnel-section .container-1000 .personnel-title {
  text-align: center;
  font-size: 18px;
  color: #888888;
  line-height: 75px;
  margin-bottom: 40px;
}
.page-body .personnel-section .container-1000 .personnel-content {
  display: flex;
}
.page-body .personnel-section .container-1000 .personnel-expert {
  width: 400px;
  height: 250px;
  text-align: center;
  font-size: 18px;
  color: #3f464b;
  line-height: 40px;
}
.page-body .personnel-section .container-1000 .personnel-expert-p {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-body .personnel-section .container-1000 p:last-child {
  font-size: 14px;
  color: #999999;
  line-height: 40px;
}
.page-body .staff-section {
  height: 940px;
  width: 100%;
  background-color: #3d3e48;
}
.page-body .staff-section .staff-content {
  height: 940px;
  display: flex;
  flex-direction: column;
}
.page-body .staff-section .staff-content .staff-description {
  font-size: 32px;
  color: #ffffff;
  margin: 69px auto 27px auto;
}
.page-body .staff-section .staff-content .staff-title {
  font-size: 18px;
  color: #b1b1b5;
  text-align: center;
  margin-bottom: 30px;
}
.page-body .staff-section .staff-content .staff-nav {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #4d4d57;
  display: flex;
  justify-content: center;
}
.page-body .staff-section .staff-content .staff-nav .staff-nav-item {
  display: inline-block;
  width: 120px;
  height: 65px;
  font-size: 16px;
  color: #8a8b91;
  text-align: center;
  line-height: 65px;
}
.page-body .staff-section .staff-content .staff-nav .staff-nav-item:hover {
  color: #62bd82;
  border-bottom: 2px solid #62bd82;
}
.page-body .staff-section .staff-content .staff-menu {
  margin: 49px 0 70px 0;
  width: 100%;
  height: 580px;
  display: flex;
}
.page-body .staff-section .staff-content .staff-menu .staff-menu-item {
  width: 314px;
  height: 580px;
  background: #ffffff;
  margin-right: 30px;
}
.page-body .staff-section .staff-content .staff-menu .staff-menu-item .staff-menu-name {
  font-size: 16px;
  color: #3f464b;
  margin: 26px 0 11px 23px;
}
.page-body .staff-section .staff-content .staff-menu .staff-menu-item .staff-menu-occupation {
  font-size: 12px;
  color: #999999;
  margin: 0 0 20px 23px;
}
.page-body .staff-section .staff-content .staff-menu .staff-menu-item .staff-menu-summary {
  font-size: 12px;
  color: #3f464b;
  line-height: 20px;
  margin-left: 23px;
  margin-right: 40px;
}
.page-body .staff-section .staff-content .staff-menu .staff-menu-item .staff-menu-past {
  font-size: 12px;
  color: #a9a9a9;
  margin: 37px 18px 0 23px;
}
.page-body .staff-section .staff-content .staff-menu .staff-menu-item .staff-menu-logo {
  text-align: center;
  margin-bottom: 1px;
}
.page-body .staff-section .staff-content .staff-menu .staff-menu-item .staff-menu-a {
  display: none;
  width: 100%;
  height: 50px;
  background-color: #62bd82;
  font-size: 16px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
}
.page-body .staff-section .staff-content .staff-menu .staff-menu-item:last-child {
  margin-right: 0;
}
.page-body .staff-section .staff-content .staff-menu .staff-menu-item:hover .staff-menu-a {
  display: inline-block;
}
.page-body .use-section {
  width: 100%;
  background: #ffffff;
}
.page-body .use-section .container-1000 .use-description {
  margin-top: 50px;
  font-size: 33px;
  color: #404c5f;
  line-height: 80px;
  text-align: center;
}
.page-body .use-section .container-1000 .use-title {
  font-size: 18px;
  color: #bbbbbb;
  text-align: center;
  margin-bottom: 60px;
}
.page-body .use-section .container-1000 .use-content {
  display: flex;
  flex-direction: column;
}
.page-body .use-section .container-1000 .use-content .use-tag {
  width: 77px;
  height: 64px;
  background-color: #62bd82;
  border-radius: 50%;
  font-size: 32px;
  color: #ffffff;
  line-height: 65px;
  text-align: center;
  margin: 0 25px 0 12px;
  box-shadow: 0 10px 10px #dfeee4;
  position: relative;
}
.page-body .use-section .container-1000 .use-content .use-leftimage {
  position: absolute;
  left: 15px;
  top: 64px;
}
.page-body .use-section .container-1000 .use-content .use-item {
  font-size: 28px;
  color: #404c5f;
  line-height: 60px;
}
.page-body .use-section .container-1000 .use-content .use-text {
  display: inline-block;
  font-size: 16px;
  color: #3f464b;
  line-height: 30px;
  margin-bottom: 85px;
}
.page-body .use-section .container-1000 .use-content .use-content-demand {
  display: flex;
  margin-bottom: 25px;
}
.page-body .use-section .container-1000 .use-content .use-content-demand .use-demand-left {
  display: flex;
}
.page-body .use-section .container-1000 .use-content .use-content-personnel {
  display: flex;
  margin-bottom: 25px;
}
.page-body .use-section .container-1000 .use-content .use-content-personnel .use-personnel-left {
  display: flex;
}
.page-body .use-section .container-1000 .use-content .use-content-need {
  display: flex;
  margin-bottom: 25px;
}
.page-body .use-section .container-1000 .use-content .use-content-need .use-need-left {
  display: flex;
}
.page-body .use-section .container-1000 .use-content .use-content-join {
  display: flex;
  margin-bottom: 25px;
}
.page-body .use-section .container-1000 .use-content .use-content-join .use-join-left {
  display: flex;
}
.page-body .unique-section {
  height: 800px;
  width: 100%;
  background: url(../image/index-unique-bg.png);
}
.page-body .unique-section .unique {
  width: 1000px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.page-body .unique-section .unique .unique-description {
  font-size: 32px;
  color: #ffffff;
  margin: 75px auto 28px auto;
}
.page-body .unique-section .unique .unique-title {
  font-size: 18px;
  color: #b1b1b5;
  margin: 0 auto 61px auto;
}
.page-body .unique-section .unique table {
  height: 510px;
  width: 1000px;
  background-color: #f2f4f6;
  font-size: 15px;
  line-height: 70px;
}
.page-body .unique-section .unique table td,
.page-body .unique-section .unique table th {
  width: 228px;
  height: 70px;
  border: 2px solid #fdfdfd;
  line-height: 70px;
  background-color: #ebf0f7;
  color: #667080;
  text-align: center;
}
.page-body .unique-section .unique table th:first-child {
  width: 270px;
}
.page-body .unique-section .unique table td:first-child {
  width: 270px;
}
.page-body .unique-section .unique table td:first-child p {
  display: inline-block;
}
.page-body .unique-section .unique tr .unique-number {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid #c3cee0;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  margin-right: 10px;
}
.page-body .unique-section .unique tr th:nth-child(2) {
  background-color: #dde3f0;
  color: #333333;
}
.page-body .unique-section .unique tr th:nth-child(3) {
  background-color: #e3e8f2;
  color: #333333;
}
.page-body .unique-section .unique tr th:nth-child(4) {
  background-color: #e3e8f2;
  color: #333333;
}
.page-body .unique-section .unique tr td:first-child {
  background-color: #f3f5f8;
  color: #305798;
  text-align: left;
  padding-left: 22px;
}
.page-body .unique-section .unique tr .unique-right {
  background-color: #ccead7;
  position: relative;
}
.page-body .unique-section .unique tr .unique-right .unique-right-img {
  position: absolute;
  top: 20px;
  left: 105px;
}
.page-body .unique-section .unique tr .unique-false {
  background-color: #ebc6cb;
  position: relative;
}
.page-body .unique-section .unique tr .unique-false .unique-false-img {
  position: absolute;
  top: 20px;
  left: 105px;
}
.page-body .effect-section {
  height: 580px;
  display: flex;
  flex-direction: column;
}
.page-body .effect-section .container-1000 .effect-description {
  font-size: 32px;
  color: #404c5f;
  text-align: center;
  line-height: 85px;
  margin-top: 45px;
}
.page-body .effect-section .container-1000 .effect-title {
  font-size: 18px;
  color: #b1b1b5;
  text-align: center;
}
.page-body .effect-section .container-1000 .effect-content {
  display: flex;
}
.page-body .effect-section .container-1000 .effect-content .effect-image {
  width: 314px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 31px;
}
.page-body .effect-section .container-1000 .effect-content .effect-image:last-child {
  margin-right: 0;
}
.page-body .effect-section .container-1000 .effect-content .effect-image:nth-child(2) img {
  padding-top: 35px;
}
.page-body .effect-section .container-1000 .effect-content .effect-image:nth-child(3) img {
  padding-top: 20px;
}
.page-body .effect-section .container-1000 .effect-content .effect-content-item {
  font-size: 18px;
  color: #3f464b;
  margin-top: 25px;
}
.page-body .story-section {
  height: 620px;
  width: 100%;
  background: #3d3e48;
}
.page-body .story-section .story-content {
  height: 620px;
  display: flex;
  flex-direction: column;
}
.page-body .story-section .story-description {
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  margin: 75px 0 25px 0;
}
.page-body .story-section .story-title {
  font-size: 18px;
  color: #929298;
  text-align: center;
  margin-bottom: 60px;
}
.page-body .story-section .story-content-customer {
  display: flex;
}
.page-body .story-section .story-content-customer .story-content-customer-item {
  width: 314px;
  height: 410px;
  text-align: center;
  margin-right: 31px;
}
.page-body .story-section .story-content-customer .story-content-customer-item:nth-child(3) {
  margin-right: 0px;
}
.page-body .story-section .story-content-customer .story-content-p {
  font-size: 16px;
  color: #ffffff;
  margin-top: 27px;
}
.page-body .story-section .story-content-customer .story-content-logo {
  margin-top: 63px;
}
.page-body .partner-section {
  width: 100%;
  height: 460px;
}
.page-body .partner-section .container-1000 {
  height: 460px;
  display: flex;
}
.page-body .partner-section .container-1000 .partner-content {
  width: 314px;
  height: 330px;
  border: 1px solid #e4e4e4;
  margin: 70px 31px 0 0;
}
.page-body .partner-section .container-1000 .partner-content .partner-content-branding {
  height: 155px;
  width: 314px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-body .partner-section .container-1000 .partner-content .partner-content-item {
  font-size: 14px;
  color: #667080;
  text-align: center;
  line-height: 20px;
}
.page-body .partner-section .container-1000 .partner-content:last-child {
  margin: 70px 0 0 0;
}
.page-body .partner-section .container-1000 .partner-content :nth-child(2) {
  font-size: 16px;
  color: #3f464b;
  line-height: 28px;
  text-align: center;
  margin: 0 25px 30px 30px;
}
.page-body .foot-section {
  height: 310px;
  width: 100%;
  background-color: #1d1a33;
}
.page-body .foot-section .foot-content {
  height: 240px;
  display: flex;
  padding-top: 70px;
}
.page-body .foot-section .foot-content .foot-logo {
  margin-left: 18px;
  height: 30px;
}
.page-body .foot-section .foot-content .foot-summary {
  margin-left: 160px;
  width: 235px;
}
.page-body .foot-section .foot-content .foot-summary .foot-summary-line {
  width: 33px;
  height: 4px;
  background-color: #2b2744;
  margin: 18px 0 19px 0;
}
.page-body .foot-section .foot-content .foot-summary:hover .foot-title {
  color: #58a673;
}
.page-body .foot-section .foot-content .foot-summary:hover .line {
  background-color: #58a673;
}
.page-body .foot-section .foot-content .foot-nav {
  margin-left: 110px;
  width: 60px;
}
.page-body .foot-section .foot-content .foot-nav .foot-nav-line {
  width: 14px;
  height: 4px;
  background-color: #2b2744;
  margin: 18px 0 19px 0;
}
.page-body .foot-section .foot-content .foot-nav:hover .foot-title {
  color: #58a673;
}
.page-body .foot-section .foot-content .foot-nav:hover .line {
  background-color: #58a673;
}
.page-body .foot-section .foot-content .foot-contact {
  margin-left: 90px;
  position: relative;
}
.page-body .foot-section .foot-content .foot-contact .foot-contact-line {
  width: 33px;
  height: 4px;
  background-color: #2b2744;
  margin: 18px 0 19px 0;
}
.page-body .foot-section .foot-content .foot-contact:hover .foot-title {
  color: #58a673;
}
.page-body .foot-section .foot-content .foot-contact:hover .line {
  background-color: #58a673;
}
.page-body .foot-section .foot-content div {
  font-size: 14px;
  color: #f0f0f1;
  line-height: 28px;
}
.page-body .foot-section .foot-content div :first-child {
  font-size: 15px;
  color: #8a8b91;
}
.page-body .foot-section .foot-content a {
  font-size: 14px;
  color: #f0f0f1;
  line-height: 28px;
}
.page-body .foot-section .foot-content .foot-contact-end {
  position: absolute;
  left: -15px;
  top: 150px;
}
